.template {
  font-size: 1.2rem;
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 65px 0.5rem 0.5rem;
  border-radius: 0.5rem;
  width: 90%;
  /*overflow: auto;*/
}

.cart-images {
  width: 90px;
  height: 90px;
}

.image-col {
  display: flex;
  justify-content: center;
}

.prices-area {
  font-size: 1.2rem;
}

.markered {
  /* background: "yellow", fontWeight: 'bolder', padding: '10px', transition: '0.3s ease-in-out' */
  background: yellow;
  font-weight: bolder;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

