.template {
    font-size: 1.2rem;
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 65px 0.5rem 0.5rem;
    border-radius: 0.5rem;
    width: 90%;
    /*overflow: auto;*/
}

/*.template.*/

.cart-images {
    width: 90px;
    height: 90px;
}

.prices-area {
    font-size: 1.2rem;
}
/*.cart-buttons {*/
/*    font-size: 0.8rem;*/
/*    padding: 0.1rem;*/
/*    margin: 0.1rem;*/
/*    border-radius: 0.5rem;*/
/*    border: 0.1rem #404040 solid;*/
/*    background-color: #f0c040;*/
/*    width: 100%;*/
/*    cursor: pointer;*/
/*}*/